<!--index.ejs was added to inject the pages correctly. -->

<%- include('partials/header.ejs'); %>

<main>
    <%- include('./books/' + page + '.ejs'); %>
</main>

<%- include('partials/footer.ejs'); %>

